# python
__pycache__/

# virtualenv
venv/
env/
.venv/
.env/

# webassets
.webassets-cache/
build/

# Google OAuth credentials.
credentials.json
token.pickle

# JetBrains
.idea/
/credentials/
/.terraform/
/terraform.tfstate*

.env
secrets/
