{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/ico" href="{{ url_for('.static',filename='favicon.ico') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('.static', filename='assets/js/script.min.js') }}"></script>
    <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
    <script src="{{ url_for('.static', filename='js/main.js') }}"></script>
    <!-- Instantiate PubNub -->
{% endblock %}
{% block title %}Announcements{% endblock %}
{% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% block content %}
    <div class="container d-sm-flex flex-grow-1 flex-fill m-auto justify-content-sm-center align-items-sm-center">
        <div class="d-sm-flex m-auto justify-content-sm-center align-items-sm-center" id="overlay">
            <div class="card text-black-50 bg-warning border rounded shadow-lg d-sm-flex flex-fill align-self-center jumbotron">
                <div class="card-header text-capitalize text-center bg-white">
                    <h1 class="display-1" id="alert-title"></h1>
                </div>
                <div class="card-body">
                    <p class="lead text-black-50 card-text" id="alert-body"></p>
                </div>
            </div>
        </div>
    </div>

    <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid d-inline-flex" id="snazz">
                        <div class="flex-grow-1">
                            <img src="{{ url_for('.static', filename='assets/img/header_title.png') }}"
                                 width="200">
                        </div>
                        <div class="flex-grow-1 text-center">🎵<span id="lastfm"></span></div>
                        <div class="flex-grow-1  clock text-right"><strong id="count-clock">00:00:00</strong></div>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Announcements</h3>
                    <div class="row">
                        <div class="col scroll" id="announcements">
                            {% for post in posts %}
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">{{ post.title }}</h2>
                                        <h6 class="text-muted card-subtitle mb-2">{{ post.time }}</h6>
                                        <p class="card-text h4">{{ post.body }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col align-content-center scroll" id="twitter">
                            <a class="twitter-timeline"
                               href="https://twitter.com/HackTheMidlands?ref_src=twsrc%5Etfw">Tweets by
                                HackTheMidlands</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <audio id="notification" src="{{ url_for('.static',filename='notification.mp3') }}" preload="auto"></audio>
{% endblock %}
